:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);

    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-lg: 1.25rem;
}

@font-face {
    font-family: "Figtree";
    src: url(../assets/fonts/Figtree-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Figtree";
    background: var(--yellow);
    display: grid;
    height: 100vh;
    place-items: center;
    line-height: 150%;
}

article {
    background: var(--white);
    border-radius: 20px;
    box-shadow: 8px 8px 0 0 var(--black);
    margin: 0 24px;
    border: 1px solid var(--black);
    max-width: 384px;
    transition: ease 0.5s;
}

article a {
    display: block;
    text-decoration: none;
    color: var(--black);
}
article a > img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 24px;
}

.wrapper {
    padding: 24px;

}

section * {
    margin-bottom: 12px;
}

.category {
    color: var(--black);
    background: var(--yellow);
    display: inline-block;
    font-size: var(--text-xs);
    font-weight: 800;
    padding: 4px 12px;
    border-radius: 4px;
}

.info p {
    font-size: var(--text-xs);
    font-weight: 500;
}

.content h2 {
    font-size: var(--text-lg);
    font-weight: 800;
    transition: ease 0.5s;
}

.content p {
    font-size: var(--text-sm);
    color: var(--grey);
    font-weight: 500;
}

.author {
    display: flex;
    align-items: center;
    gap: 12px;
}

.author img {
    height: 32px;
    width: 32px;
}

.author h3 {
    font-size: 0.875rem;
    font-weight: 800;
}

@media (width >= 23.4em) {
    :root {
        --text-xs: 0.875rem;
        --text-sm: 1rem;
        --text-lg: 1.5rem;
    }
}

@media (hover: hover) {
    article:hover {
        box-shadow: 16px 16px 0px 0px var(--black);
    }
    article:hover h2 {
        color: var(--yellow);
    }
}